#plus1{
    
    z-index: 5;
    position:absolute;
    top:126px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus1{
    
    z-index: 5;
    position:absolute;
    top:126px;
    left:130px;
    width:20px;
    height:20px;
  }

#delete1{
    z-index: 5;
    position:absolute;
    top:126px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus2{
    
    z-index: 5;
    position:absolute;
    top:163px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus2{
    
    z-index: 5;
    position:absolute;
    top:163px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete2{
    z-index: 5;
    position:absolute;
    top:163px;
    left:270px;
    width:20px;
    height:25px;
}
  #plus3{
    
    z-index: 5;
    position:absolute;
    top:200px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus3{
    
    z-index: 5;
    position:absolute;
    top:200px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete3{
    z-index: 5;
    position:absolute;
    top:200px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus4{
    
    z-index: 5;
    position:absolute;
    top:237px;
    left:180px;
    width:20px;
    height:20px;
  }
  #delete4{
    z-index: 5;
    position:absolute;
    top:237px;
    left:270px;
    width:20px;
    height:25px;
}

  #minus4{
    
    z-index: 5;
    position:absolute;
    top:237px;
    left:130px;
    width:20px;
    height:20px;
  }


  #plus5{
    
    z-index: 5;
    position:absolute;
    top:274px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus5{
    
    z-index: 5;
    position:absolute;
    top:274px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete5{
    z-index: 5;
    position:absolute;
    top:274px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus6{
    
    z-index: 5;
    position:absolute;
    top:311px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus6{
    
    z-index: 5;
    position:absolute;
    top:311px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete6{
    z-index: 5;
    position:absolute;
    top:311px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus7{
    
    z-index: 5;
    position:absolute;
    top:348px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus7{
    
    z-index: 5;
    position:absolute;
    top:348px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete7{
    z-index: 5;
    position:absolute;
    top:348px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus8{
    
    z-index: 5;
    position:absolute;
    top:385px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus8{
    
    z-index: 5;
    position:absolute;
    top:385px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete8{
    z-index: 5;
    position:absolute;
    top:385px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus9{
    
    z-index: 5;
    position:absolute;
    top:422px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus9{
    
    z-index: 5;
    position:absolute;
    top:422px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete9{
    z-index: 5;
    position:absolute;
    top:422px;
    left:270px;
    width:20px;
    height:25px;
}

  #plus10{
    
    z-index: 5;
    position:absolute;
    top:459px;
    left:180px;
    width:20px;
    height:20px;
  }

  #minus10{
    
    z-index: 5;
    position:absolute;
    top:459px;
    left:130px;
    width:20px;
    height:20px;
  }

  #delete10{
    z-index: 5;
    position:absolute;
    top:459px;
    left:270px;
    width:20px;
    height:25px;
}