#adddogfood{
    border:1px solid black;
    z-index: 5;
    position:absolute;
    top:285px;
    left:100px;
    width:15px;
    height:15px;
}

#minusdogfood{
    border:1px solid black;
  z-index:5;
  position:absolute;
  top:285px;
  left:25px;
  width:15px;
  height:15px;
}

#quantitydogfood{
    margin:0px;
    font-size:15;
  z-index:5;
  position:absolute;
  top:285px;
  left:65px;
}

#adddogfoodToCart{
  z-index:5;
  position:absolute;
  top:280px;
  left:140px;
  width:25px;
  height:25px;
  display:block;
}

#dogfoodAdded{
    z-index:6;
  position:absolute;
  top:280px;
  left:140px;
  width:25px;
  height:25px;
  display:none;
}

#addcatfood{
    border:1px solid black;
    z-index: 5;
    position:absolute;
    top:285px;
    left:300px;
    width:15px;
    height:15px;
}

#minuscatfood{
    border:1px solid black;
  z-index:5;
  position:absolute;
  top:285px;
  left:225px;
  width:15px;
  height:15px;
}

#quantitycatfood{
    margin:0px;
    font-size:15;
  z-index:5;
  position:absolute;
  top:285px;
  left:265px;
}

#addcatfoodToCart{
  z-index:5;
  position:absolute;
  top:280px;
  left:340px;
  width:25px;
  height:25px;
  display:block;
}

#catfoodAdded{
    z-index:6;
  position:absolute;
  top:280px;
  left:340px;
  width:25px;
  height:25px;
  display:none;
}

#addcattree{
    border:1px solid black;
    z-index: 5;
    position:absolute;
    top:430px;
    left:100px;
    width:15px;
    height:15px;
}

#minuscattree{
    border:1px solid black;
  z-index:5;
  position:absolute;
  top:430px;
  left:25px;
  width:15px;
  height:15px;
}

#quantitycattree{
    margin:0px;
    font-size:15;
  z-index:5;
  position:absolute;
  top:430px;
  left:65px;
}

#addcattreeToCart{
  z-index:5;
  position:absolute;
  top:430px;
  left:140px;
  width:25px;
  height:25px;
  display:block;
}

#cattreeAdded{
    z-index:6;
  position:absolute;
  top:430px;
  left:140px;
  width:25px;
  height:25px;
  display:none;
}

.fill{
    width:15px;
    height:15px;
    z-index:5;
}